<template>
  <v-row class="text-center">
    <v-col cols="12">
      <v-img
        src="@/assets/logo.png"
        class="my-3"
        contain
        height="200"
      />
    </v-col>

    <v-col class="mb-4">
      <h1 class="display-2 font-weight-bold mb-3">
        Tervetuloa Eläintestiin
      </h1>

      <p class="subheading font-weight-regular">
        Eläintestissä voit opetella tunnistamaan erilaisia eläimiä.
      </p>
      <p class="subheading font-weight-regular">
        Kehitetty treenaustyökaluksi eräälle POKE:n kurssille.
      </p>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Home'
}
</script>
