<template>
    <v-card>
      <v-card-title>Asetukset</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <h4>Yötila</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-switch
              inset
              v-model="darkModeDefault"
              :value="darkModeDefault"
              :true-value="true"
              :false-value="false"
              :label="`Yötila ${darkMode ? 'päällä' : 'pois päältä'}`"
              @change="darkModeChanged"
            ></v-switch>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <h4>Vastausvaihtoehtojen määrä</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-select
              :items="maxSurveyOptionsSelections"
              :value="maxSurveyOptions"
              outlined
              @change="setMaxSurveyOptions"
            ></v-select>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      darkModeDefault: undefined
    }
  },
  created () {
    this.darkModeDefault = this.darkMode
  },
  computed: {
    ...mapGetters([
      'maxSurveyOptions',
      'maxSurveyOptionsSelections',
      'darkMode'
    ])
  },
  methods: {
    ...mapMutations(['setMaxSurveyOptions', 'toggleDarkMode']),
    darkModeChanged () {
      this.toggleDarkMode(!this.$vuetify.theme.dark)
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  }
}
</script>
