<template>
  <div>
    <v-card
      v-for="test of groupedScoring"
      :key="test.name"
      color="primary"
      class="my-5"
    >
      <v-card-title>{{testToText(test.name)}}</v-card-title>
      <v-card-text>
        <v-data-table
          :items="test.animals"
          :headers="scoreHeaders"
          dense
          :footer-props="{
            'items-per-page-options': [-1]
          }"
          :items-per-page="-1"
        >
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import testToText from '../utils/test-to-text'
export default {
  data () {
    return {
      scoreHeaders: [{
        text: 'Eläin',
        value: 'animal'
      }, {
        text: 'Ensimmäisellä oikein',
        value: 'score.correct_firstattempt',
        align: 'center'
      }, {
        text: 'Oikein yht.',
        value: 'score.correct_total',
        align: 'center'
      }, {
        text: 'Väärin',
        value: 'score.wrong',
        align: 'center'
      }]
    }
  },
  computed: {
    ...mapGetters([
      'scoring'
    ]),
    groupedScoring () {
      return Object.keys(this.scoring)
        .map(name => ({
          name,
          animals: Object.keys(this.scoring[name])
            .map(animal => ({
              animal,
              score: this.scoring[name][animal]
            }))
        }))
    }
  },
  methods: {
    testToText
  }
}
</script>
