<template>
  <div>
    <v-card ref="questionitemview" width="500" class="mx-auto">
      <v-card-title>
        {{ testTypeToTitle(testtype) }}
      </v-card-title>
      <v-card-text>
        <AudioQuestion
          v-if="correctOption.audio"
          :audio="correctOption.questionItem"
          :attempt="answerAttempt"
        />
        <v-img
          contain
          height="300px"
          v-if="correctOption.image"
          :src="correctOption.questionItem"
        />
        <hr class="my-5" />
        <v-btn
          class="my-3"
          v-for="option in options"
          :key="option.name"
          block
          :disabled="option.state === 'WRONG'"
          :color="getAnswerColor(option.state)"
          @click="checkIsCorrect(option)"

        >
          {{option.name}}
        </v-btn>
      <hr class="mt-5" />
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="primary"
          text
          to="/stats"
        >
          Tilastot
        </v-btn>
        <v-spacer />
        <v-btn
          color="primary"
          text
          @click="nextQuestion"
        >
          Seuraava
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import AudioQuestion from '../components/AudioQuestion'
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'Tests',
  components: {
    AudioQuestion
  },
  data: () => {
    return {
      testtype: undefined,
      options: [],
      answerAttempt: 0
    }
  },
  methods: {
    ...mapMutations(['userAnsweredQuestion']),
    testTypeToTitle (type) {
      switch (type) {
        case 'bird-images':
        case 'bird-sounds':
          return 'Mikä lintu?'
        case 'mammals':
          return 'Mikä nisäkäs?'
        case 'reptiles':
          return 'Mikä matelija?'
        case 'fish':
          return 'Mikä kala?'
        default:
          return type
      }
    },
    nextQuestion () {
      this.options = this.answerOptionsByType(this.testtype)
      this.answerAttempt = 0
      if (this.$refs.questionitemview) {
        this.$refs.questionitemview.$el.scrollIntoView()
      }
    },
    getAnswerColor (state) {
      console.log(state)
      switch (state) {
        case 'CORRECT':
          return 'success'
        case 'WRONG':
          return 'danger'
        default:
          return 'default'
      }
    },
    checkIsCorrect (option) {
      this.answerAttempt = this.answerAttempt + 1
      this.userAnsweredQuestion({
        option,
        attempt: this.answerAttempt,
        test: this.testtype
      })
      if (option.correct) {
        option.state = 'CORRECT'
        setTimeout(() => {
          this.nextQuestion()
        }, 500)
      } else {
        option.state = 'WRONG'
      }
    }
  },
  computed: {
    ...mapGetters(['answerOptionsByType']),
    correctOption () {
      return this.options.find(option => option.correct)
    }
  },
  created () {
    this.testtype = this.$route.params.testtype
    this.options = this.answerOptionsByType(this.testtype)
  },
  watch: {
    '$route' (to, from) {
      this.testtype = to.params.testtype
      this.nextQuestion()
    }
  }
}
</script>
