<template>
  <vuetify-audio
    class="audioplayer"
    v-if="audio"
    :file="audio"
    :canPlay="audioCanPlay"
    color="success"
    flat
    autoPlay
  ></vuetify-audio>
</template>
<script>
export default {
  components: {
    VuetifyAudio: () => import('vuetify-audio')
  },
  props: ['audio', 'attempt'],
  methods: {
    audioCanPlay () {
      var audioplayer = document.getElementById('player')
      audioplayer.pause()
      audioplayer.play()
    }
  },
  watch: {
    attempt: function (val) {
      if (val === 0) {
        var audioplayer = document.getElementById('player')
        audioplayer.currentTime = 0
        audioplayer.play()
      }
    }
  }
}
</script>
<style>
  div.v-card__text > div > div > p {
    display: none;
  }
</style>
