<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <router-link
        to="/"
      >
        <v-img
          alt="Eläintesti logo"
          class="shrink mx-3"
          contain
          src="@/assets/logo.png"
          height="45"
          width="50"
        />
      </router-link>

      <router-link
        to="/"
        class="hidden-sm-and-down d-sm-flex"
      >
        <h2 style="color: white;">Eläintesti</h2>
      </router-link>

      <v-spacer />
      <TestsMenu
        :items="testMenuItems"
        class="hidden-sm-and-down d-sm-flex"
      />
      <v-btn
        v-for="item in menuItems"
        :key="item.route"
        color="primary"
        depressed
        :to="item.route"
        class="hidden-sm-and-down d-sm-flex"
      >
        {{item.title}}
      </v-btn>
      <v-app-bar-nav-icon
        class="hidden-sm-and-up"
        @click.stop="drawer = !drawer"
      >
      </v-app-bar-nav-icon>
    </v-app-bar>

      <v-navigation-drawer
        v-model="drawer"
        clipped
        temporary
        app
        right
        top
      >
        <v-list
          nav
          dense
        >
          <v-list-group
            :value="true"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-title>Testit</v-list-item-title>
            </template>
            <v-list-item
              sub-group
              v-for="item in testMenuItems"
              :key="item.route"
              link
              :to="item.route"
            >
              <v-list-item-title>{{item.title}}</v-list-item-title>
            </v-list-item>
          </v-list-group>

          <v-list-item
            v-for="item in menuItems"
            :key="item.route"
            link
            :to="item.route"
          >
              <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

    <v-main>
      <v-container>
        <router-view>
        </router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import TestsMenu from './components/TestsMenu'

export default {
  name: 'App',

  components: {
    TestsMenu
  },

  data: () => ({
    drawer: false,
    menuItems: [
      { title: 'Tilastot', route: '/stats' },
      { title: 'Asetukset', route: '/settings' }
    ],
    testMenuItems: [
      { title: 'Linnut - kuvat', route: '/tests/bird-images' },
      { title: 'Linnut - äänet', route: '/tests/bird-sounds' },
      { title: 'Nisäkkäät', route: '/tests/mammals' },
      { title: 'Matelijat', route: '/tests/reptiles' },
      { title: 'Kalat', route: '/tests/fish' }
    ]
  }),

  computed: {
    ...mapGetters(['darkMode'])
  },

  created () {
    if (this.darkMode) {
      this.$vuetify.theme.dark = true
    }
  }
}
</script>
